/* Google Font Links */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


/* Font Styles */
.quicksand-font-styles {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

/* Shared Styles */

.header-section{
    max-width: 1440px;
    margin-left: 140px;
    margin-right: 140px;
}

.btn-primary{
    width: 197px;
    height: 50px;
    border: none;
    border-radius: 12px;
}
.heading-secondary{
    font-size: 46px;
    text-align: center;
    font-weight: 700;
}





/* Header Section */
.navigation-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-container{
    display: flex;
    align-items: center;
    gap: 11px;
}
.logo{
    width: 62px;
    height: 62px;
}
.logo-heading{
    font-size: 2rem;
    font-weight: bold;
}

.nav-container{
    display: flex;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-left: 32px;
}
.nav-link{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
}

.nav-link-first{
    color: #FEA301;
}
.nav-link-second{
    color: #01ACFD;
}

.nav-link-third{
    color: #05D4DF;
}

.nav-link-fourth{
    color: #5D58EF;
}

.btn-nav{
    background-color: #FEA301;
    color: #FFFFFF;
    font-size: 1.3rem;
    font-weight: 400;
}

/* Heading Content Section */

.header-secondary{
    margin-top: 58px;
}
.header-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    align-items: center;
}
.header-content{
    width: 640px;
}
.heading-text{
    font-size: 4rem;
    font-weight: 700;
}
#empowering{
    color: #FEA301;
}
#towards-vision{
    color: #01ACFD;
}
.heading-description{
    font-size: 1.3rem;
    font-weight: 400;
}
.heading-btn{
    background-color: #111111;
    color: #FFFFFF;
    font-size: 1.3rem;
    font-weight: 400;
}

.header-image{
    width: 100%;
}

.bar-icon{
    font-size: 40px;
}

.display-icon{
    display: none;
}

.display-row{
    display: none;
}

/* Curriculum Section */
main{
    background-image: url("assets/bg.png");
    background-repeat: no-repeat;
}

.curriculum-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
    margin-top: 80px;
}

.curriculum-content{
    text-align: center;
    padding: 30px;
    border-radius: 18px;
}

.content-one{
    background-image: linear-gradient(180deg, #DEF5FF, #FFFFFF);
}
.content-two{
    background-image: linear-gradient(180deg, #FFF4DC, #FFFFFF);
}

.content-three{
    background-color: #F2E8FF;
    background-image: linear-gradient(180deg, #F2E8FF, #FFFFFF);
}

.curriculum-title{
    font-size: 24px;
}

.curriculum-description{
    font-size: 15px;
}

.curriculum-link-one{
    text-decoration: none;
    color: #64C8FF;
}
.curriculum-link-two{
    text-decoration: none;
    color: #F0AA00;
}

.curriculum-link-three{
    text-decoration: none;
    color: #8700FF;
}

.arrow{
    background-color: #F0AA00;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 24px;
}

.buttons{
    margin-top: 80px;
    text-align: center;
}


/* Our stories section */
.our-stories-section{
    background-image: url("assets/bg.png");
    background-repeat: no-repeat;
    background-image: linear-gradient(-40deg, #FFF4DC, #FFFFFF);
    
}
.stories-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 38px;
}
.story{
    width: 100%;
}

.story-image{
    width: 100%;
    border-radius: 16px;
}

.story-title{
    font-size: 24px;
}

.story-description{
    
}

.sub-story-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 19px;
}r

.sub-story-items{
    background-color: white;
    border-radius: 16px;
}

.btn-story{
    margin-top: 80px;
    text-align: center;
}
/* Footer Section */

.footer-section{
    max-width: 1440px;
    background-color: #01ACFD;
    padding
}

.footer-container{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 80px;
    padding-bottom: 80px;
}
.footer-logo-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-logo{
    width: 60px;
    height: 65px;
}
.footer-middle-container{
    margin-left: 40px;
}
.footer-logo-text, .footer-description, .footer-middle{
    color: #FFFFFF;
}
.footer-description{
    font-size: 20px;
}
.footer-middle{
    font-size: 24px;
}
.footer-link{
    list-style: none;
    
}
.footer-links{
    display: grid;
}
.footer-link{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
}
.footer-social{
    display: flex;
    gap: 10px;
}

/* Responsive Section */
@media screen and (max-width: 576px){
    .header-section{
        max-width: 390px;
        margin-left: 16px;
        margin-right: 16px;
    }

    .logo-heading, .nav-container, .btn-nav{
        display: none;
    }

    .header-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
        align-items: center;

    }

    .display-icon{
        display: block;
    }

    .display-row{
        display: block;
        width: 100%;
    }

    .heading-text{
        font-size: 2rem;
        text-align: center;
        width: 357px;
    }
    .heading-description{
        font-size: 1rem;
        text-align: center;
        width: 357px;
    }
    .btn-responsive{
        justify-content: center;
    }
    .header-image{
        width: 223px;
    }
    .heading-secondary{
        font-size: 26px;
        text-align: center;
        font-weight: 700;
    }
    .curriculum-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 28px;
        
    }
    .buttons{
        display: none;
    }
    .display-hidden{
        display: none;
    }
    .footer-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

