/* Google Font Links */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


/* Font Styles */
.quicksand-font-styles {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

/* Shared Styles */
.header-section{
    max-width: 1440px;
    margin-left: 140px;
    margin-right: 140px;
}

.btn-primary{
    width: 197px;
    height: 50px;
    border: none;
    border-radius: 12px;
}






/* Header Section */
.navigation-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-container{
    display: flex;
    align-items: center;
}
.logo{
    width: 62px;
    height: 62px;
}
.logo-heading{
    font-size: 2rem;
    font-weight: bold;
}

.nav-container{
    display: flex;
    align-items: center;
}

.btn-nav{
    background-color: #FEA301;
    color: #FFFFFF;
    font-size: 1.3rem;
    font-weight: 400;
}




/* Responsive Section */
